*{
/*   border: solid 2px black; */
  vertical-align: top;
  font-family: 微軟正黑體;
  position: relative;
  
}

html,body{
  width: 100%; height: 100%;
  padding: 0px; margin: 0px;
  background-color: #E6E6ef;
}


.resume{
  width: 700px; height: 950px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
  letter-spacing: 1px;
  
  background-color:#FFFFFF;
  overflow: hidden;
  border: solid 1px rgba(0,0,0,0.15);
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.top{
  background-color: #ebf5fc;
  text-align:center;
  padding: 20px;
  line-height:10px; 
  position: relative;
}

.top hr{
  width: 300px;
}

.box{
  width: 100px;
  height: 50px;
  position: absolute;
  border: solid 1px #111;
  top: 20px;
  left: 250px;
  background-color: #fff;
}

.bottom{
  height: 400px;
}

.left,.right{
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.left{
  width: 30%;
}

.left1 img{
  position: absolute;
  left:26px;
  top: 20px;
}
  
.left1{
  height: 200px;
  text-align:center;
}

.left2{
  height: 330px;
  font-size: 20px;
  line-height:10px;
  text-align:center;
}

.left hr{
  width: 150px;
}

.left p{
  line-height: 20px;
  font-size: 12px;
  text-align:left;
  left:40px;
}

.left3{
  height: 15px;
}

.left3 img{
  position: absolute;
  left:26px;
}

.left4{
  height: 30px;
  font-size: 12px;
  text-align:left;
  left:40px;
  top:35px;
}

.left5 img{
  position: absolute;
  left:30px;
  top:40px;
}

.left6{
  font-size: 12px;
  text-align:left;
  left:40px;
  top:90px;
}

.left7 img{
  position: absolute;
  left:30px;
  top:110px;
}

.left8{
  font-size: 12px;
  text-align:left;
  left:40px;
  top:160px;
}

.right{
  width: 70%;
}
.line{
  position: absolute;
  top: 30px;
  left: 10px;
  background-color: #AAA;
  width: 1px; 
  height: 750px;
}
.rtop,.rbottom{
  height: 50 0px;
}
.rtop span{
  font-size: 20px;
  text-align:left;
  left:40px; top:40px;
  font-weight: bold;
}

.rtop p{
  line-height: 20px;
  font-size: 12px;
  text-align:left;
  left:40px; top: 40px;
}

.LL,.MM,.RR{
  display: inline-block;
  padding-right: 30px;
}
.rbottom p{
  line-height: 20px;
  font-size: 12px;
  text-align:left;
  left:40px; top: 40px;
  font-weight: bold;
}

.circle1{
  display: inline-block;
  width: 18px; height: 18px;
  border-radius: 100%;
  left: 40px; top: 40px;
  background-color: #444;
}

.circle2{
  display: inline-block;
  border-radius: 100%;
  width: 14px; height: 14px;
  left: 40px; top: 40px;
  border: solid 2px #444;
  background-color: white;
}